@import 'tailwindcss';

:root {
  /* --background: #1b0e3a; */
  --background: #1b0e3a;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-unbounded);
  --font-h1: var(--font-barriecito);
  --font-body: var(--font-roboto);
  --color-lg-acid-yellow: #d0df48;
  --color-lg-medium-purple: #462e81;
  --color-lg-medium-purple: #462e81;
  --color-lg-dark-purple: #1b0e3a;
  --color-lg-light-blue: #82c3de;
  --color-lg-night-blue: #0737b2;
}

@layer base {
  body {
    /* @apply bg-background text-foreground font-body; */
    @apply font-body md:text-[18px];
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-heading;
  }
  h2 {
    @apply text-[28px]/[28px] lg:text-[52px]/[52px];
  }
  h3,
  .h3 {
    @apply text-[18px] lg:text-[24px];
  }
  :select {
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
